{% extends 'details.html' %}
{% block yourInputLabel %}D'ionchur{% endblock %}
{% block actualAddressLabel %}Cá ceapaimid gurbh é seo{% endblock %}
{% block coordinateLabel %}Comhordanáidí beachta{% endblock %}
{% block safetyScoreLabel %}Scór sábháilteachta an cheantair{% endblock %}
{% block safetyScoreDescription %}Dá airde an scór (agus an uimhir réaltaí) is ea is sábhailte an áit é!<br/>Faigh tuilleadh eolais conas a chomhairtear an scór <a href="/about?lang={{ lang }}" class="link">anseo</a>.{% endblock %}
{% block uniDistanceLabel %}Am ar chos chuig{% endblock %}
