{% extends 'details.html' %}
{% block yourInputLabel %}Your input{% endblock %}
{% block actualAddressLabel %}Where we think this is{% endblock %}
{% block coordinateLabel %}Precise coordinates{% endblock %}
{% block safetyScoreLabel %}Area Safety Score{% endblock %}
{% block safetyScoreDescription %}The higher the safety score (the more stars you have), the safer the area!<br/>Find out how the score is calculated <a href="/about?lang={{ lang }}" class="link">here</a>.{% endblock %}
{% block uniDistanceLabel %}Walking distance to{% endblock %}
