{% set langvalues = lang + '/values.html' %}
{% import langvalues as langvalues %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <title>www.safer.place</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
</head>
<body class="pa0 ma0">
<div class="white bg-blue pa4 ma0 tc">
<a href="/?lang={{lang}}" class="link"><p class="f1 b ma0 no-underline white">www.safer.place</p></a>
<p class="f5 mt1 mb0">{{ langvalues.subtitle }}</p>
<ul class="list pl0 pt3 f4">
<li class="dib pr4"><a href="/about?lang={{ lang }}" class="link white">{{ langvalues.about }}</a></li>
<li class="dib"><a href="/?lang={{ langvalues.otherLangId}}" class="link white">{{ langvalues.otherLang }}</a></li>
</ul>
</div>
<div class="bg-white f4 tc mh5">
<br/>
{% block body %}
body
{% endblock %}
</div>
</body>
