{% set langvalues = lang + '/values.html' %}
{% import langvalues as langvalues %}
<!doctype html>
<html style="height: 100%;">
<head>
  <meta charset="utf-8">
  <title>www.safer.place</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-96373918-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="flex flex-column pa0 ma0" style="height: 100%; margin: 0;">
<header class="white bg-blue pa4 ma0 tc">
  <a href="/?lang={{lang}}" class="link"><h1 class="f1 b ma0 no-underline white">www.safer.place</h1></a>
  <p class="f5 mt1 mb0">{{ langvalues.subtitle }}</p>
  <nav class="list pl0 pt3 f4">
    <a href="/about?lang={{ lang }}" class="link white ma3">{{ langvalues.about }}</a>
    <a href="/?lang={{ langvalues.otherLangId}}" class="link white ma3">{{ langvalues.otherLang }}</a>
  </nav>
  <div class="bg-blue tc flex justify-center">
    <form action="details" class="mt4 mh0 w-50 shadow-3-l flex cf br2 bg-white">
      <i class="material-icons f3 pl3 pt3 gray">search</i>
      <input name="input" value="{{ address|e }}" placeholder="{% block pleaseEnterLabel %}{{ pleaseEnterLabel }}{% endblock %}" class="bn f3 pa3 w-90 border-box input-reset">
      <input type="hidden" name="lang" value="{{ lang }}"></input>
      <button type="submit" class="bn f2 pa2 button-reset bg-white br2 h-100 br--right self-end pointer"><i class="material-icons">arrow_forward</i></input>
    </form>
  </div>
</header>
<section id="contentdiv" class="h-100 tc f4 lh-title" style="">
{% block body %}
body
{% endblock %}
</section>
</body>
</html>
