{% extends 'base.html' %}
{% block body %}
    <p>Eircode: {{ eircode|e }}</p>
    <p>Address: {{ address|e }}</p>
    <p>Coord: {{ coord_x | e }}, {{ coord_y | e}}</p>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>
    <div id="osm-map"></div>
    <script type="text/javascript">
        // Where you want to render the map.
        var element = document.getElementById('osm-map');

        // Height has to be set. You can do this in CSS too.
        element.style = 'height:300px;';

        // Create Leaflet map on map element.
        var map = L.map(element);

        // Add OSM tile leayer to the Leaflet map.
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Target's GPS coordinates.
        //var target = L.latLng('47.50737', '19.04611');
        var target = L.latLng('{{ coord_x | e}}', '{{ coord_y | e }}');

        // Set map's center to target with zoom 14.
        map.setView(target, 14);

        // Place a marker on the same location.
        L.marker(target).addTo(map);
    </script>
    
{% endblock %}
