{% extends 'base.html' %}
{% block body %}
    <p><span class="b">Eircode</span>: {{ eircode|e }}</p>
    <p><span class="b">Address</span>: {{ address|e }}</p>
    <p><span class="b">Coord</span>: {{ coord_x | e }}, {{ coord_y | e}}</p>
    <br/>
    <p><span class="b">Area Safety Score</span>: <span class="{% if rounded_score <= 2 %} red {% elif rounded_score == 3 %} orange {% else %} green {% endif %}">{% for item in range(rounded_score)%} &#9733; {% endfor %}{% for item in range(5-rounded_score) %} &#9734; {% endfor %} ({{ "{:.2f}".format(true_score) }})</span></p>
    <p>The higher the safety score (the more stars you have), the safer the area!</p>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet"/>
    <div id="osm-map"></div>
    <script type="text/javascript">
        // Where you want to render the map.
        var element = document.getElementById('osm-map');

        // Height has to be set. You can do this in CSS too.
        element.style = 'height:300px;';

        // Create Leaflet map on map element.
        var map = L.map(element);

        // Add OSM tile leayer to the Leaflet map.
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Target's GPS coordinates.
        //var target = L.latLng('47.50737', '19.04611');
        var target = L.latLng('{{ coord_x | e}}', '{{ coord_y | e }}');

        // Set map's center to target with zoom 14.
        map.setView(target, 14);

        // Place a marker on the same location.
        L.marker(target).addTo(map);
    </script>
    
{% endblock %}
