{% extends 'base.html' %}
{% block body %}
<div id="imagecontainer" class="ph6 cover" style="background-image: url('https://c1.staticflickr.com/5/4021/4486350855_dc8cc967f2_b.jpg'); height: 100%; width: 100%; display: flex; flex-direction: column;" style="overflow: hidden;">
<div id="blurbcontainer" class="bg-black br4 o-60 white ph4 pv2 i w6 mh5 mt4 tc center" style="margin: auto">
<p>{% block blurb %}blurb{% endblock %}</p>
</div>
</div>
{% endblock %}
Lang values = "{{ langvalues.submitText }}"
